/* p{
    color: rgb(1, 72, 48);
    font-size: 40px;
    font-style:italic;
    text-decoration: underline;
    word-spacing: 10px;
    background-color: rgb(103, 1, 1);

}
h3{
    font-variant: small-caps;
    letter-spacing: 20px;
}
i
{
color: blanchedalmond;
background-color: rgb(40, 1, 77);
} */

#h3t
{
  color: rgb(1, 87, 87);  
  font-size: 20px;
  font-variant: inherit;
  border-width: 2px;
  border-style: dotted;
  border-color: black;
  padding: 5px;
  margin: 10px;
}
.p1t
{
    color: rgb(119, 119, 2);
    font-size: 20px;
    font-variant: small-caps;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 12px;
}
/* border lagane ka second type  */
#p2t
{
border: 3px solid rgb(103, 1, 1);
}



